body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  input, button, p {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .container {
    width: 1600px; 
    height: 800px; 
    overflow: hidden; 
  }
  
  .cropped-image {
    width: 100px; 
    height: auto; 
    


  }
